button {
		display: inline;
		border-radius: 20px;
		text-align: center;
		font-size: 50px;
		padding-right: 100px;
    	padding-left: 100px;
    	padding-bottom: 5px;
    	padding-top: 5px;
    	color: white;
}
#Blue {
		background-color: #0D47A1;
}

#Red  {
		background-color: #F44336;
}

#Green {
		background-color: #4CAF50;
}

#Yellow {
		background-color: #FFEB3B;
}
